<ion-header>
  <ion-toolbar>
    <ion-title>
      Google Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [routerLink]="['/exemplo1']">
      <ion-label>
        Exemplo 1
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/exemplo2']">
      <ion-label>
        Exemplo 2
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/exemplo3']">
      <ion-label>
        Exemplo 3
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/exemplo4']">
      <ion-label>
        Exemplo 4
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
